.tab-wrap {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .tab-nav {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 200px;

    li {
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid red;
      border-right: 1px solid red;
      cursor: pointer;

      &:active {
        color: red;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .tab-content {
    flex-grow: 1;
    flex-shrink: 1;
  }
}