.tab-wrap {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid red;

    .tab-nav {
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 200px;

        li {
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid red;
            border-bottom: 1px solid red;

            &:active {
                color: red;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .tab-content {
        flex-grow: 1;
        flex-shrink: 1;
    }
}